
/*GENERAL
//------------------------//*/
.parallax {
	z-index: -1;
}

/*ABOUT
//------------------------//*/
#gradientBlock1 {
	width: 100%;
	padding: 20% 0;
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	opacity: 0.1;
	position: absolute;
	top: -70px;
	right: 20px;
	transform: rotate(5deg);
}

#greenSquare1 {
	width: 10%;
	height: 300px;
	background-color: #0cbaba;
	opacity: 0.2;
	position: absolute;
	bottom: -100px;
	right: 0;
	transform: rotate(-2deg);
}

/*SKILLS
//------------------------//*/
#communication-bg {
	background-color: #0cbaba;
	opacity: 0.2;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	position: absolute;
	transform: rotate(-2deg);
}

#organization-bg {
	background-color: #0cbaba;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	position: absolute;
	transform: rotate(2deg);
}

#collaboration-bg {
	background-color: #0cbaba;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	position: absolute;
	transform: rotate(-2deg);
}

#design-bg {
	background-color: #0cbaba;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	position: absolute;
	transform: rotate(2deg);
}

#time-bg {
	background-color: #0cbaba;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	position: absolute;
	transform: rotate(-2deg);
}
